* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  line-height: 1;
}

img {
  height: 200px;
  border-radius: 10px;
  transform: scale(
    1.5
  ); /* Scale is to scale the image size by a factor. It might overflow containers */
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.25);
}

.carousel {
  width: 800px;
  margin: 100px auto;
  background-color: #228be6;
  padding: 32px;
  padding-left: 86px;

  border-radius: 8px;
  color: white;

  display: flex;
  align-items: center;
  gap: 86px;

  position: relative;
}

.testimonial-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 32px;
}

.testimonial-author {
  font-size: 14px;
  margin-bottom: 8px;
}

.testimonial-job {
  font-size: 12px;
}

.btn {
  background-color: white;
  border: none;
  height: 40px;
  width: 40px;

  position: absolute; /* btn class is in carousel - the parent - so make it relative */

  top: 50%;
  transform: translate(0, -50%);

  border-radius: 50%; /* to make the square icon as round */

  box-shadow: 0, 16px, 32px, rgba(0, 0, 0, 1);

  /* to center the icon in the container */
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.btn-icon {
  height: 24px;
  width: 24px;
  stroke: #228be6;
}

.btn-left {
  left: 0;
  transform: translate(-50%, -50%);
}

.btn-right {
  right: 0;
  transform: translate(50%, -50%);
}

.sliding-dots {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 32px);
  bottom: 0;
  gap: 12px;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid #228be6;
}

.dot-1 {
  background-color: #228be6;
}
